
img {
  max-width: 100%;
  /* margin-left: 1%; */
  }
  
  .container {
    height:100%;
    overflow: hidden;
  }
  
  .img-container {
    position: absolute;
    left: 0;
    opacity: 0;
    height: auto !important;
    background-size: cover;
    background-position: center;
    will-change: opacity;
    transition: opacity .3s;
    cursor: pointer;
  }
  
  
  
  .slide-button:hover, .slide-button-select {
    width: 64px !important;
    background-color: rgba(255,255,255,1) !important;
    pointer-events: none;
    transition: background-color .4s, width 4s cubic-bezier(0.190, 1.000, 0.220, 1.000) !important;
  }
  
  
  .slide-button {
    width: 30px;
    height: 4px;
    background-color: rgba(255,255,255,.5);
    cursor: pointer;
    position: absolute;
  
  }
  
  .slider {
    position: absolute;
    top: 45%;
    /* right: 80px; */
    margin-left: 20px;
    opacity: 1;
    min-width: 30px;
  
  }
  h6{
  display: flex;
  justify-content: center;

  }
  .slide-button-parent-container {
    position: relative;
    margin: 22px 0;
    min-height: 4px;
  }
  
  .select-box {
    min-height: 10px;
  }
  
  .text-container {
  
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .page-text {
    min-height: 373px;
    width: 100%;
    height: 80%;
    opacity: 0;
    font-weight: 300;
    font-size: 5rem;
    color: white;
  }
  
  .selected {
    opacity: 1;
    transition: 1s;
  }

  @media (max-width:900px){
    .slider{
      top:30%
    }
    .page-text{
      font-size: 4.2rem;
    }
    .slide-button-parent-container{
      margin:21px 0px;
    }
}
@media only screen and (max-width: 725px) {
  .slider{
    top:25%
  }
  .page-text{
    font-size: 3.7rem;
  }
  .slide-button-parent-container{
    margin:19px 0px;
  }
}
@media only screen and (max-width: 620px ) {
  .slider{
    top:20%
  }
  .page-text{
    font-size: 3.5rem;
    width: 50%;
  }
  .slide-button-parent-container{
    margin:18px 0px;
  }
}
@media only screen and (max-width: 450px) {
  .slider{
    top:15%
  }
  .page-text{
    font-size: 3.3rem;
    width: 50%;
  }
  .slide-button-parent-container{
    margin:16px 0px;
  }
}
@media only screen and (max-width: 400px) {
  .slider{
    top:13%
  }
  .page-text{
    font-size: 3.5rem;
    width: 50%;
  }
  .slide-button-parent-container{
    margin:15px 0px;
  }
}
@media only screen and (max-width: 360px) {
  .slider{
    top:11%
  }
  .page-text{
    font-size: 3rem;
    width: 50%;
  }
  .slide-button-parent-container{
    margin:15px 0px;
  }
}
@media only screen and (max-width: 350px) {
  .slider{
    top:17%
  }
  .page-text{
    font-size: 2.8rem;
    width: 50%;
  }
  .slide-button-parent-container{
    margin:10px 0px;
  }
}  
  
  