<div class="container" style="z-index: 1;">
  <div class="img-container"  *ngFor="let i of sliderArray; let select = index;"
       [ngClass]="{'selected': select == selectedIndex}">
    <img src="{{i.img}}" alt="{{i.alt}}" >
  </div>

  <!--</div>-->
  <div [ngStyle]="{'transform': 'translateY('+ transform + '%' +')', 'transition': '.8s'}" style="z-index: 1;">
    <div class="text-container">
      <div class="page-text" *ngFor="let i of sliderArray;let select = index;" [ngClass]="{'selected': select == selectedIndex}">
        <h6>{{i.text}}</h6>
      </div>
    </div>
  </div>

</div>

<div class="slider" style="z-index: 1;">
  <div class="slide-button-parent-container"  *ngFor="let i of sliderArray; let x =index" (click)="selected(x)" (keypress)="keySelected(x)" >
     <div class="select-box">
      <div class="slide-button" [ngClass]="{'slide-button-select': x == selectedIndex}" >
      </div>
     </div>
  </div>
</div>
