<div  id="exampleModalForResetPassword" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalForResetPassword" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div style="display: flex;justify-content: center;">
          <h4 class="modal-title" style="color: #10847e;">Please write email where coupon code will be send</h4>
        </div>
      </div>
      <div class="modal-body">
        <form>
          <div class="modal-body" style="padding-top: 0;">
            <form>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Email </label>
                <input [(ngModel)]="forgotEmail" name="forgotEmail" type="text" class="form-control" id="forgotEmail"
                  placeholder="name@maxonic.com" (ngModelChange)="onLoginForgotEmailChanged()">
                <label id="loginForgotEmail" *ngIf="isLoginForgotEmailEmpty" for="message-text"
                  class="col-form-label-confirm-password">{{loginForgotEmailMessage}}</label>
              </div>
            </form>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
        <span id="sendEmailTooltip" tooltip="Before clicking send email you should write your email then proceed" placement="top" >
        <button type="button"[disabled]="isEmailInputEmpty" class="btn btn-primary" (click)="OnLoginSendEmailClicked()">Send Email</button>
        </span>
        <app-spinner *ngIf="forgotLoading"></app-spinner>
        <div class="col-form-label forsignUpmessage" *ngIf="isSendEmailLoadingMessage">{{SendEmailLoadingMessage}}</div>
      </div>
    </div>
  </div>
</div>
